@import "@yukaii/github-highlightjs-themes/themes/github-dark-default.css";
@import "./fonts/index.css";
@import "./styles/variables.css";
@import "./styles/base.css";

.reveal {
	font-size: 60px;
	font-weight: normal;
}

.reveal-viewport {
	line-height: inherit;
	color: inherit;
	background: inherit;

	--r-controls-spacing: 20px;
}

.reveal .controls {
	transform: scale(0.85);
	transform-origin: right bottom;
}

.reveal .controls button {
	color: var(--controls);
}

.reveal .progress {
	color: var(--primary);
	height: 3px;
}

.reveal .progress span {
	transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

@media print {
	.backgrounds {
		background-color: white;
	}
}

.slides>section:not(:has(> section)),
.slides>section:has(> section)>section {
	position: relative;
	--ss-scale: calc(1 / var(--slide-scale));

	display: flex;
	flex-direction: column;
	padding: calc(var(--ss-scale) * (21px + 30px)) 0;
	height: 100%;
	place-content: center;
}

/* Inverted pages */

:root:has(.has-dark-background.present),
:root:has(.present > pre > .hljs) {
	--fg: var(--fg-inverted);
	--bg: var(--bg-inverted);
	--controls: var(--white);
	--logo: var(--white);
}

/* Fix forground color for Aqua pages */

:root:has([data-background-color*="secondary"].present) {
	--fg: var(--fg-inverted);
}

/* Typography */

*+ :is(h1, h2, h3, h4, h5, h6, p, ul, ol, table, pre, blockquote) {
	margin-top: 40px;
}

:is(h1, h2, h3, h4, h5, h6)+:not(pre) {
	margin-top: 100px;
}

:is(h1, h2, h3, h4, h5, h6)+:is(h1, h2, h3, h4, h5, h6) {
	margin-top: 40px;
}

:is(h1, h2, h3, h4, h5, h6, blockquote) {
	margin: 0 0 20px;
	font-weight: 700;
	line-height: 1.0;
	letter-spacing: normal;
	text-transform: none;
	text-shadow: none;
	word-wrap: break-word;
	text-wrap: balance;
}

h1 {
	font-size: 150px;
	font-weight: 700;
	text-shadow: none;
}

h2 {
	font-size: 130px;
}

h3 {
	font-size: 120px;
}

h4 {
	font-size: 100px;
}

h5 {
	font-size: 80px;
}

h6 {
	font-size: 60px;
}

p {
	margin-inline: auto;
	max-width: 24em;
}

strong,
b {
	font-weight: bold;
}

em {
	font-style: italic;
}

ol,
dl,
ul {
	text-align: left;
	max-width: 75%;
	margin-inline: auto;
}

ol {
	list-style-type: decimal;
}

li li {
	display: block;
	padding-left: 40px;
}

ul {
	list-style-type: disc;
}

ul ul {
	list-style-type: square;
}

ul ul ul {
	list-style-type: circle;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 40px;
}

blockquote {
	display: block;
	position: relative;
	font-size: 1.5em;
	max-width: 75%;
	margin-inline: auto;
	font-weight: 700;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: var(--secondary);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 5em;
	line-height: 1.0;
}

blockquote:before {
	content: "“";
	top: -0.4em;
	left: -7%;
}

blockquote:after {
	content: "”";
	bottom: -0.8em;
	right: -7%;
}

blockquote+p:has(em:only-child, strong:only-child) {
	margin-top: 1em;
	font-size: 30px;
}

blockquote+p:has(em:only-child, strong:only-child) :is(em, strong) {
	font-style: normal;
	font-weight: bold;
}

q {
	font-style: italic;
}

pre,
code {
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	font-size: 1em;
	font-size-adjust: 0.5;
}

code {
	border-radius: 0.25em;
}

:not(pre) code {
	padding: 0.125em 0.25em;
	text-transform: unset;
	color: #c9d1d9;
	background: #0d1117;
}

pre code {
	display: block;
	overflow: auto;
	max-height: 100%;
	word-wrap: normal;
	text-align: left;
	font-size: 0.8em;
	line-height: 1.2;
}

.hljs {
	padding: 0;
	background: inherit;
	border-radius: 0;
}

table {
	margin: auto;
	border-collapse: collapse;
	border-spacing: 0;
}

table th {
	font-weight: bold;
}

table th,
table td {
	text-align: left;
	padding: 0.2em 0.5em;
	border-bottom: 1px solid;
}

table th[align="center"],
table td[align="center"] {
	text-align: center;
}

table th[align="right"],
table td[align="right"] {
	text-align: right;
}

table tbody tr:last-child th,
table tbody tr:last-child td {
	border-bottom: none;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

small {
	display: inline-block;
	font-size: 0.6em;
	line-height: 1.2em;
	vertical-align: top;
}

small * {
	vertical-align: top;
}

/* Links */

a {
	--color: var(--secondary);
	--hover: oklch(from var(--color) calc(l + 0.1) c h);
	color: var(--color);
	text-decoration: none;
	transition: color 0.15s ease;
}

[data-background-color*="secondary"] a {
	--color: var(--primary);
}

a:hover {
	color: var(--hover);
	text-shadow: none;
	border: none;
}

.roll span::after {
	color: #fff;
	background: #0d99a5;
}

/* Content */

img,
video,
iframe {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	vertical-align: bottom;
}

section img {
	box-shadow: 0 10px 40px -10px rgb(0 0 0 / 25%), 0 1px 5px -2px rgb(0 0 0 / 25%);
	color: var(--mid);
}

img[src$='#icon'] {
	display: inline-block;
	height: 1.3em;
	width: auto;
	padding: 0;
	box-shadow: none;
	vertical-align: middle;
}

section img.plain {
	border: 0;
	box-shadow: none;
}

a img {
	transition: all 0.15s linear;
}

a:hover img {
	background: rgb(255 255 255 / 20%);
	border-color: #13daec;
	box-shadow: 0 0 20px rgb(0 0 0 / 55%);
}

small code {
	vertical-align: baseline;
}

/* Logo */

.reveal:after,
section[data-layout-start]:after {
	position: absolute;
	top: var(--r-controls-spacing);
	right: var(--r-controls-spacing);
	display: block;
	width: 140px;
	height: 21px;
	content: "";
	background: var(--logo);
	z-index: 1;
	mask: url(./images/mainmatter.svg);
	mask-type: alpha;
	mask-repeat: no-repeat;
}

/* Blended backgrounds */

:has(.present[data-background-blend]) .present .slide-background-content {
	mix-blend-mode: multiply;
	opacity: 0.5;
}

/* Blurred backgrounds */

:has(.present[data-background-blur]) .present .slide-background-content {
	filter: blur(8px);
}

/* Grid */

:is(.reveal .slides>section.present, .reveal .slides>section>section.present):is([data-layout-end], [data-layout-profile]) {
	display: grid;
}

/* Layout: Start */

:root:has(.present[data-layout-start]) {
	--logo: transparent;
}

section[data-layout-start]:after {
	position: relative;
	margin: 240px auto 0;
	inset: unset;
	background: currentColor;
	width: unset;
	height: 1em;
	aspect-ratio: 140/21;
}

/* Layout: Single image */

section:has(>:only-child > img) {
	color: red
}

section:has(>:only-child > img) p {
	display: contents;
}

section:has(>:only-child > img) img {
	display: block;
	margin-inline: auto;
	width: 100%;
	height: 100%;
	background: transparent;
	box-shadow: none;
}

/* Layout: Split */

.reveal .slides .present[data-layout-split-left] {
	padding-right: calc(50% + 40px);
	padding-left: 0;
}

.reveal .slides .present[data-layout-split-right] {
	padding-left: calc(50% + 40px);
	padding-right: 0;
}

[data-layout-split-left] p:has(>img:only-child) {
	position: absolute;
	display: flex;
	inset: 0 0 0 calc(50% + 40px);
	margin: 0;
}

[data-layout-split-right] p:has(>img:only-child) {
	position: absolute;
	display: flex;
	inset: 0 calc(50% + 40px) 0 0;
	margin: 0;
}

:is([data-layout-split-left], [data-layout-split-right]):has(p>img:only-child) p:has(>img:only-child) img {
	box-shadow: none;
}

.reveal:has(.slides .present[data-layout-split-left]) .slide-background.present .slide-background-content {
	left: 50%;
	width: 50%;
}

.reveal:has(.slides .present[data-layout-split-right]) .slide-background.present .slide-background-content {
	width: 50%;
}

/* Layout: Code */

.present:has(> pre > .hljs) :is(h1, h2, h3, h4, h5, h6):first-child {
	font-size: 60px;
	margin: 0 0 80px;
	text-align: left;
}

/* Layout: Profile */

[data-layout-profile] {
	grid-template: "border title img" min-content
		"border subtitle img" min-content
		/ 40px auto auto;
	column-gap: 120px;
	row-gap: 40px;
	height: auto;
}

[data-layout-profile]:after {
	display: block;
	content: "";
	grid-area: border;
	background: var(--secondary);
}

[data-layout-profile] :is(h1, h2, h3, h4, h5, h6) {
	grid-area: title;
	font-size: 120px;
	text-align: left;
	margin: 0;
	align-self: end;
}

[data-layout-profile] p {
	grid-area: subtitle;
	align-self: start;
	text-align: left;
	margin: 0;
}

[data-layout-profile] img:only-child {
	border-radius: 100%;
	grid-area: img;
}

[data-layout-profile] p:has(> img:only-child) {
	display: contents;
}

/* Layout: End */

[data-layout-end] {
	grid-template: "title title" max-content
		"links img" max-content
		/ max-content auto;
	gap: 120px;
}

[data-layout-end] ul {
	place-self: center;
	max-width: unset;
	grid-area: links;
	list-style: none;
}

[data-layout-end] li {
	padding-block: 10px;
}

[data-layout-end] :is(h1, h2, h3, h4, h5, h6) {
	grid-area: title;
}

[data-layout-end] img:only-child {
	place-self: center;
	grid-area: img;
	border-radius: 100%;
}

[data-layout-end] p:has(> img:only-child) {
	display: contents;
}
